.progress-bar-container {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
}

.progress-bar {
    height: 10px;
    background-color: #64EEBC;
    position: absolute;
    top: -3px;
    left: 0;
    animation-name: progress-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes progress-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
