@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Bebas Thin'; /* Nombre que le quieras dar a la fuente */
    src: url(./assets/font/bebas-thin.ttf) format('truetype'); /* Ruta donde se encuentra la fuente */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    background-color: #242424;
    overflow: hidden;
}
